@model PharmacyNetwork.ApplicationCore.Entities.ProductCategory

@{
    ViewData["Title"] = "Удаление категории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center">Удаление категории</h1>

<h4 class="mb-3">Вы уверены, что хотите удалить эту категорию из базы?</h4>

<div>
    <dl class="row justify-content-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategMarkup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategMarkup)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="CategId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-lg" /> |
        <a asp-action="Index" class="btn btn-secondary btn-lg">Вернуться</a>
    </form>
</div>
