@model PharmacyNetwork.ApplicationCore.Entities.Pharmacy

@{
    ViewData["Title"] = "Удаление аптеки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center">Удаление атпеки</h1>

<h4 class="mb-3">Вы уверены, что хотите удалить эту аптеку из базы?</h4>

<div>
    <dl class="row justify-content-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PharmName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PharmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PharmAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PharmAddress)
        </dd>
    </dl>

    <form asp-action="Delete" class="mt-3">
        <input type="hidden" asp-for="PharmId" />
        <input type="submit" value="Удалить" class="btn btn-danger btn-lg" /> |
        <a asp-action="Index" class="btn btn-secondary btn-lg">Вернуться</a>
    </form>
</div>
