@model PharmacyNetwork.ApplicationCore.Entities.Pharmacy

@{
    ViewData["Title"] = "Изменение данных об аптеке";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3 text-center">Изменение данных об аптеке</h1>

<h4 class="mb-3">Введите новые данные об аптеке</h4>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PharmId" />
            <div class="form-group">
                <label asp-for="PharmName" class="control-label"></label>
                <input asp-for="PharmName" class="form-control" />
                <span asp-validation-for="PharmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PharmAddress" class="control-label"></label>
                <input asp-for="PharmAddress" class="form-control" />
                <span asp-validation-for="PharmAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Изменить" class="btn btn-primary btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-lg">Вернуться</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
