@model PharmacyNetwork.ApplicationCore.Entities.Firm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Firm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FirmId" />
            <div class="form-group">
                <label asp-for="FirmName" class="control-label"></label>
                <input asp-for="FirmName" class="form-control" />
                <span asp-validation-for="FirmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmAddress" class="control-label"></label>
                <input asp-for="FirmAddress" class="form-control" />
                <span asp-validation-for="FirmAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmContact" class="control-label"></label>
                <input asp-for="FirmContact" class="form-control" />
                <span asp-validation-for="FirmContact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirmMarkup" class="control-label"></label>
                <input asp-for="FirmMarkup" class="form-control" />
                <span asp-validation-for="FirmMarkup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
