@using Microsoft.AspNetCore.Identity
@using PharmacyNetwork.ApplicationCore.Constants
@using PharmacyNetwork.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Оформление
            </a>

            @if (User.IsInRole(AuthorizationConstants.Roles.USERS))
            {
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="PharmacyWharehouses" asp-action="Index">Товары Аптеки</a>
                    <a class="dropdown-item" asp-controller="Cart" asp-action="Index">Корзина</a>
                </div>
            } 
            else
            {
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Incomes" asp-action="Create">Создать поступление</a>
                    <a class="dropdown-item" asp-controller="" asp-action="">Клиенты</a>
                </div>
            }
        </li>
        

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="~/img/profile_icon.png" width="30" height="30" class="d-inline-block align-top" alt="" />
                Профиль
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профиль</a>
                <div class="dropdown-divider"></div>
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <input type="submit" value="Выйти" class="dropdown-item"/>
                </form>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Зарегестрироваться</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Войти</a>
        </li>
    }
</ul>
