@using PharmacyNetwork.ApplicationCore.Constants

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Каталог 
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="MedicalItems" asp-action="Index">Медицинские Товары</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="ProductCategories" asp-action="Index">Категории товаров</a>
            <a class="dropdown-item" asp-controller="Firms" asp-action="Index">Фирмы производители</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Аптеки
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Pharmacies" asp-action="Index">Список Аптек</a>

            @if(User.IsInRole(AuthorizationConstants.Roles.ADMINSTRATORS))
            {
                <a class="dropdown-item" asp-controller="" asp-action="">Склады</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Incomes" asp-action="Index">Поступления товаров</a>
            }
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Покупки
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Purchases" asp-action="Index">Оформленные покупки</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-controller="" asp-action="">Зарезервированный Товар</a>
        </div>
    </li>
</ul>